/PracticaSingleton/build/
/PracticaAbstractFactory/nbproject/private/
/PracticaAbstractFactory/build/
/FacadeEjercicioAlumnos/nbproject/private/
/PracticaFacade/nbproject/private/
/PracticaFacade/build/
/PracticaFacade/dist/
/PracticaPrototype/nbproject/private/
/PracticaPrototype/build/
/PlantillaCommand/nbproject/private/
PracticaPrototype/PracticaPrototype.drawio
PracticaPrototype/.$PracticaPrototype.drawio.bkp
